@require 'mixins/globals';

.wrapper-post
    padding-right: 20px;
    margin: 25px 0px;
    min-height: 19em;
    @media screen and (max-width: 767px)
        padding-left: 20px;
    
    .post-title
        margin: 22px 0px;

    .post-info
        font-family: "Kreon", serif;
        font-weight: 300; 
        border-top: 1px solid border-color-footer;
        border-bottom: 1px solid border-color-footer;
        padding: 5px 0px;
        color: text-color-postinfo;
        font-size: 1.0714em;
        margin-bottom: 15px;
        strong, a 
            font-weight: 300;
            color: text-color-light-grey;
        a
            active();
    .wrapper-post-image
        border: 1px solid border-color-footer;
        float: left;
        margin: 0 30px 20px 0;
        @media screen and (max-width: 400px)
            display: inline-block;
            float: none;
        img
            margin: 5px;
            width: 186px;
            height: 186px;
    .post-text
        bodyText();
        line-height: 1.42857em;

    &.boxed
        margin-bottom: 15px;
        .post-text
            line-height: 1.67em;
            height: 17em;
            overflow: hidden;
        .wrapper-post-image
            @media screen and (max-width: 400px)
                display: none;
