@require 'mixins/globals';

.wrapper-post
    padding-right: 20px;
    margin: 25px 0px;
    @media screen and (max-width: 767px)
        padding-left: 20px;
    
    .post-title
        margin: 22px 0px;

    .post-info
        border-top: 1px solid border-color-footer;
        border-bottom: 1px solid border-color-footer;
        padding: 5px 0px;
        color: text-color-postinfo;
        font-size: 1.0714em;
        margin-bottom: 15px;
        strong 
            font-weight: normal;
            color: text-color-light-grey;
    .wrapper-post-image
        border: 1px solid border-color-footer;
        float: left;
        margin: 0 30px 20px 0;
        @media screen and (max-width: 400px)
            display: inline-block;
            float: none;
        img
            margin: 5px;
            width: 186px;
            height: 186px;
    .post-text
        bodyText();
        line-height: 1.42857em;

    &.boxed
        height: 19.5em;
        overflow: hidden;