@require 'mixins/globals';

.wrapper-card-image
    position: relative;
    width: 240px;
    height: 125px;
    @media screen and (max-width:991px)
        float: left;
        margin: 0px 10px 5px 0px;
    @media screen and (max-width:767px)
        width: 145px;
        height: 75px;
    padding: 5px;
    border-right: 1px solid border-color-card;
    border-bottom: 1px solid border-color-card;
    >img
        width: 230px;
        height: 115px;
        @media screen and (max-width:767px)
            width: 135px;
            height: 65px;
    .card-control
        width: 100%;
        height: 100%;
        padding: 5px;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        img 
            opacity: 0;
            transition: opacity .5s;
        &:hover
            img 
                opacity: 1;
.wrapper-card
    height: 280px;
    width: 265px;
    padding: 0px 10px;
    @media screen and (max-width:991px)
        height: 200px;
        width: auto;
        padding: 5px 20px 5px 20px;
        text-align: justify;
        margin-bottom: 10px;
        border-bottom: 1px solid border-color-card;
        
    overflow: hidden;
    text-overflow:ellipsis;
    .card-heading
        height: 57px;
        headingText();
        padding: 27px 0px 10px;
        margin: 0;
        overflow: hidden;
        @media screen and (max-width:991px)
            display: none;
    .card-text  
        width: 100%
        height: 100%;
        padding: 5px 5px;
        text-align: left;
        bodyText();
        line-height: 20px; 
        margin-top: 10px;
        overflow: hidden;
        @media screen and (max-width:991px)
            display: inline;