@require 'mixins/globals'

.main-location
     &.row
        margin: 0;
    .path-text
        bodyText();
        padding: 15px 45px;
        color: text-color-light-grey-footer;
        strong
            color: black;
            font-weight: normal;