@require 'mixins/globals'

.main-location
     &.row
        margin: 0;
    .path-text
        font-family: "Kreon", serif;
        font-weight: 300;
        font-size: 1em;
        padding: 15px 45px;
        color: text-color-light-grey-footer;
        strong
            color: black;
            font-weight: normal;
    a
        font-family: "Kreon", serif;
        font-weight: 300;
        font-size: 1em;
        color: text-color-light-grey;
        active();