@require 'mixins/globals';

.main-quote
    padding: 0px 40px;
    @media screen and (max-width: 767px)
        padding: 15px 23px;
    &.row
        margin-bottom: 0px;
.wrapper-quote
    font-family: "Kreon", serif;
    font-weight: 300;
    padding: 30px 38px;
    text-align: center;
    h2
        padding: 0;
        margin: 0;
    p   
        color: text-color-light-grey;
        font-size: 1.42857em;

.bordered-quote 
    border-top: 1px solid border-color-footer;
    border-bottom: 1px solid border-color-footer;

.wrapper-quote-image
    border: 1px solid border-color-comment-image;
    border-bottom: 1px solid border-color-comment-image-dark;
    display: inline-block;
    margin-bottom: 25px;
    img 
        width: 150px;
        height: 150px;
        margin: 5px;