@require 'mixins/globals'
a
    text-decoration: none !important;

.row
    margin-bottom: 30px;
.shadowed-text 
    shadow();

.content-container
    max-width: 974px;
    padding: 0px 7px;
.main-inner-wrapper
    padding: 0px 55px;
    border-bottom: 1px solid border-color-footer;
    @media screen and (max-width:767px)
        padding: 0px;

#app-container
    background-color: white;
body 
    background-image: url('../../images/background.jpg') 
    background-repeat: repeat;
.quoted
    &::before
        content: '\201c';
    &::after 
        content: '\201d';
.half-width
    width: 50%;
.gradiented
    gradient();
.right-aligned
    text-align: right;
.main-inner-wrapper.row
    margin-bottom: 0px;
#app-container > .main-inner-wrapper
    border-top: 1px solid border-color-footer;

@media screen and (max-width: 991px)
    main  
        border-bottom: 1px solid border-color-footer;
    .main-bordered
        border-right: 0 !important;
.main-bordered
    border-right: 1px solid border-color-footer;
h2  
    font-family: "Kreon", serif;
    font-weight: 300;
    font-size: 2em;
    color: black;

h3  
    font-family: "Kreon", serif;
    font-weight: 300;
    font-size: 1.42857em;
    color: black;

.chameleon-btn
    border: 1px solid border-color-footer;
    border-radius: 4px;
    background-color: rgba( 255, 255, 255, 1 );
    padding: 6px 8px;
    text-align: center;
    font-family: "Kreon", serif;
    font-size: 0.85714em;
    color: black;
button:focus
    outline: none;
input:focus
    outline: border-color-outline solid 1px;
textarea:focus
    outline: border-color-outline solid 1px;