shadow-color = rgb( 229, 229, 229 );
border-color-search = rgb( 234, 234, 234 );
text-color-search = rgb( 194, 194, 194 );
text-color-menu-inactive = rgb( 57, 57, 57 );
text-color-menu-active = rgb( 66, 125, 139 );
text-color-carousel-button = rgb( 123, 146, 151 );
text-color-light-grey = rgb( 146, 146, 146 );
text-color-light-grey-footer = rgb( 205, 205, 205 ); 
text-color-footer-slogan = rgb( 102, 146, 156 );
text-color-copyright = rgb( 113, 113, 113 );
text-color-postinfo = rgb( 208, 208, 208 );
text-color-comment-date = rgb( 212, 212, 212 );
bg-color-transparent-black = rgba( 0, 0, 0, 0.59 );
bg-color-footer = rgb( 249, 249, 249 );
border-color-card = rgb( 212, 212, 212 );
border-color-footer = rgb( 234, 234, 234 );
border-color-comment-image = rgb( 240, 240, 240);
border-color-comment-image-dark = rgb( 209, 209, 209 );

lg = 992;
md = 768;
sm = 576;
xs = 310;

active()
    .isActive
        color: text-color-menu-active !important;
    &:hover
        color: text-color-menu-active !important;

allowVerticalAlign()
    &:before 
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;

headingText()
    font-family: "Kreon", serif;
    font-weight: 300;
    font-size: 1.42857em;
    color: black;
bodyText()
    font-family: "Droid Sans", sans-serif;
    font-size: 0.85714em;
    color: text-color-light-grey;

