{{>carousel}}
<section class="row main-quote"> 
    {{>quote}}
</section>
<div class="container-fluid main-inner-wrapper">
    <section class="row main-cards">
        {{#each cards}}
            {{>card }}
        {{/each}}
    </section>
    <section class="row main-widgets">
        {{>list quotes}}
    </section>


</div>