<section class="row main-location">
    <p class="path-text">
        {{path.root}} » <a href="/category/{{path.id}}" data-navigo>{{path.name}}</a> {{#if post}}» <strong>{{post.title}}</strong>{{/if}}
    </p>
</section>