<article class="col-12 wrapper-quote {{#if quote.gradiented}}bordered-quote gradiented{{/if}}" data-quote={{quote.postId}}>
    <h2 {{#if quote.quoted}}class="quoted"{{/if}}>{{quote.title}}</h2>
    <p {{#if quote.quoted}}class="right-aligned"{{/if}}>{{quote.subtitle}}</p>
</article>