<form>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="sign-in-username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="sign-in-password" required>
    </div>
    <button class="btn btn-primary" role="submit">Sign In</button>
</form>